.about {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.about img {
    width: 150px;
    /* display: block; */
    margin-top: 20px;
    /* float: left; */
    border-radius: 10px;
    margin-right: 20px;
    
}

.about h2 {
    color: #333;
    margin-bottom: 200px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-left:-65px;
    font-size: larger;
}

.contact {
    background: #faf7f2;
    padding: 50px 20px;
    text-align: center;
    color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.contact-info p {
    background: white;
    padding: 12px 20px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -moz-text-size-adjust: auto;
}


@media (min-width: 600px) {
    .contact-info {
        grid-template-columns: repeat(2, 1fr);
        max-width: 550px;
    }
}


footer {
    background: #faf7f2;
    padding: 30px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-top: 1px solid #ddd;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #333;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-links a:hover {
    opacity: 0.6;
}
