/* normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.about {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.about img {
    width: 150px;
    /* display: block; */
    margin-top: 20px;
    /* float: left; */
    border-radius: 10px;
    margin-right: 20px;
    
}

.about h2 {
    color: #333;
    margin-bottom: 200px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-left:-65px;
    font-size: larger;
}

